.classes{
  width: 100%;
  max-width: 960px;
  min-width: 460px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
   
}
.class1 {
  min-height: 200px;
  font-size: 40px;
  color: white;
  margin: 0 10px 20px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;  
}
.class2 {
  background: rgb(238, 227, 227);
  min-height: 200px;
  font-size: 80px;
  font-weight: bold;  
  margin: 0 10px 20px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.class3 {
  background: rgb(230, 208, 208);
  min-height: 200px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  
  margin: 0 10px 20px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;  

}
.class4 {
  background: rgb(230, 208, 208);
  min-height: 200px;
  font-size: 20px;
  text-align: center;  
  margin: 0 10px 20px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 25px; 
}
.class5 {
  background: rgb(218, 198, 198);
  min-height: 200px;
  font-size: 30px;
  margin: 0 10px 20px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;   
}
